@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Ubuntu+Condensed&display=swap');

::-webkit-scrollbar {
    display: none;
}

body{
    margin: 0;
}


/* ----------------------------------Header --------------------------------- */
.header{
    display: flex;
    justify-content: space-between;
    padding: 13px;
    position: sticky;
    top: 0;
    z-index: 1; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center; /* center horizontally */
    /* align-items: center; center vertically */
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.search-bar{
    display: flex;
    align-items: center;
}

.search-bar > input{
    height: 35px;
    width: 300px;
    text-align: center;
    font-size: large;
    border: 2px solid black;
    border-radius: 4px;
    font-family: Arvo;
}

.nav-items{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30rem;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.nav-items > ul > li{
    font-family: Arvo;
    padding: 10px;
    font-size: large;
    /* color: black; */
}

.authenticate{
    display: flex;
    align-items: center;
}

.authenticate > button{
    height: 35px;
    background-color: inherit;
    border-radius: 4px;
    font-family: Arvo;
    font-size: large;
}

.nav-items > ul:hover, .authenticate > button{
    cursor: pointer;
}

/* --------------------------------- Body----------------------------------- */


/* ---------------------------- Search Bar ------------------------ */


.search-container{
    display: flex;
    justify-content: space-evenly;
}



/* ----------------------------- Restaurants lists --------------------- */

.restaurants-lists{
    /* padding-top: 60px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.restaurant-card{
    width: 250px;
    margin: 10px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.restaurant-card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.restaurant-card > h3, h5{
    margin: 2px;
}

.restaurant-card > h3{
    font-family: Arvo;
    font-weight: normal;
}

.restaurant-card > h5{
    font-family: 'Ubuntu Condensed';
    font-weight: normal;
}

.restaurant-logo{
    width: 300px;
    height: 157.48px;
    border-radius: 5px;
}

/* -----------------------------------  Resaturant Menu ---------------------------------- */

.parent-off-all{
    width: 100%;
}

/* Centering everything */
.restaurant-information, .offers, .veg-non-veg, .cuisines-catagories{
    width: 60%;
    margin: 0px auto;
    font-family: Arvo;
}

hr{
    width: 60%;
}

.restaurant-information{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}


.personal-details > h2{
    font-weight: bold;
    margin-bottom: 15px;
}

.personal-details > h5{
    font-weight: normal;
}


.rating-details{
    display: flex;
    flex-direction: column;
}

.rating-details > span{
    border: 1px solid black;
    margin: 2px 0;
    text-align: center;
    /* width: fit-content; */
}

.offers{
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}

.offers > div{
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.offers > div > span{
    font-size: 12px;
}

.veg-non-veg > h4{
    margin-top: 10px;
    margin-bottom: 5px;
}

.cuisines-catagories > div{
    text-align: center;
}